* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
#container {
    background-color: #516171;
    color: white;
}
#header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #A9508B;
    align-items: center;
}
h2 {
    margin-left: 20px;
}
.services {
    color: #A9508B;
    font-weight: bold;
}
.home,
.about {
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}
li {
    list-style: none;
    font-size: 0.9rem;
}
span {
    color: #A9508B;
}
a {
    text-decoration: none;
}
#main img {
    width: 400px;
}
#subscribe {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
h3 {
    margin-left: 20px;
}
input {
    height: 35px;
}
.email {
    width: 240px;
}
.submit {
    background-color: rgb(255, 94, 0);
    width: 90px;
    border: none;
}
#services {
    background-color: rgb(245, 245, 245);
    height: 650px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-content: center;
    color: black;
    padding-left: 40px;
}
h4 {
    margin: 20px 0;
}
p {
    font-size: 0.9rem;
    text-align: center;
}
#website {
    display: flex;
    flex-direction: column;
}
.service {
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(230, 230, 230);
    margin: 2px;
    padding: 18px 0;
}
.service h4 {
    margin: 20px;
}
.service p {
    text-align: left;
    margin: 20px;
}
.quote {
    background-color: #516171;
    color: white;
    height: max-content;
    margin: 20px;
}
.quote h4 {
    margin-left: 15px;
}
form {
    width: auto;
    min-width: 250px;
    height: auto;
}
input {
    font-size: 0.8rem;
    width: 200px;
    margin:0 0 15px 15px;
}
label {
    font-size: 0.8rem;
    margin:0 0 15px  15px;
}
#send {
    background-color: rgb(255, 94, 0);
    width: 90px;
    border: none;
}
#footer {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer img {
    width: 200px;
}

@media screen and ( max-width: 825px){
   .service{
    height: 250px;
    overflow: scroll;
}
#email{
    margin-top: 15px;
    
}
}
